<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ioroiko.howork"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="13"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.ioroiko.howork.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="com.ioroiko.howork.MyWidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider_def" />
        </receiver>

        <!-- Service of the widget -->
        <service
            android:name="com.ioroiko.howork.WidgetService"
            android:exported="false" />

        <activity
            android:name="com.ioroiko.howork.ActivityEdit"
            android:label="@string/title_activity_activity_edit"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ioroiko.howork.SummaryActivity"
            android:label="@string/title_activity_summary"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ioroiko.howork.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
    </application>

</manifest>